<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YQImageCodeToolDEMO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95658E591D8938CF00E4B1F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95658E721D8938CF00E4B1F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95658E7D1D8938CF00E4B1F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
